[Unit]
Description=Demeter Aggregator
After=network.target

[Service]
Type=simple
User=pi
ExecStart=/bin/bash -c "PATH=$PATH:/home/pi/n/bin /home/pi/n/bin/npm start --prefix /home/pi/dev/demeter/aggregator 2>&1 | tee -a /var/log/demeter/aggregator.log"
Restart=on-failure

[Install]
WantedBy=multi-user.target
